@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap%27');

#title1 {
    color:#3EBDF1;
    font-size: 3rem;
    text-align: center;
    
}

#title2 {
    color: black;   
    font-size: 2rem;
    text-align: center;
}

.cont{
    margin-top: 5rem;
}
#textdiv{
    margin-top: 5rem;
}

#loginbtn{
    margin-top: 3rem;
    background-color: #3EBDF1;
    color:cornsilk;
    height: 4rem;
    
    font-size: 1.5rem;
    left: 30%;
}

#contbtn{
  margin-top: 3rem;
    color:#3EBDF1;
    border: 1px solid #3EBDF1;
    height: 3.5rem;
    font-size: 1.5rem;
    left: 30%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap%27');

.myLmodal {
    border-radius: 30px; 
    border: 1px solid #3EBDF1; 
    width: 30%;
    height: 75%;
    top: 50%;
    left: 50%; 
    right: auto;
    bottom: auto;  
    transform: translate(-50%, -50%) ;
    background: #fff;
    overflow:visible;
    outline: none;
    
    position: relative;
  }
  
  .myLoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#eee2e28a ;
    
  }


  .or{
    text-align: center;
    font-size: 1.2rem;
    color: #bdbdbd;
    margin: 0;
  }

  /* .MuiTab-textColorPrimary.Mui-selected {
    color: #3EBDF1 !important;
} */
 
  
  @media (max-width: 1024px){
    .mymodal{
      width: 70%;
      height: 40%;
    }
  }

  @media(max-width:400px){
    .mymodal{
      width: 100%;
      height: 100%;
      border-radius: 0;
    }  
  }

  

